{% import "components/forms.html" as form %}

<div class="max-w-xl">
    <h3>Guardian Home Application</h3>
    <div class="grid grid-cols-1 gap-6">
        <form name="gaurdian_form" netlify>
            {{ form.name_input('text' ,'name') }}

            {{ form.street_input('text' ,'street address') }}

            {{ form.city_input('text' ,'city') }}

            {{ form.state_input('text' ,'state') }}

            {{ form.zip_input('text' ,'zip') }}

            {{ form.input('email' ,'email') }}
            <hr>
            <p class="font-xs leading-6">The following are not designed to <i>disqualify</i> perspective applicants.
                Your answers will allow us to place a dog or cat that fits your home and family lifestyle. Check
                only the boxes below that apply to you and your family.</p>

            {{ form.boolean('Do you currently own two or more
            dogs or cats that live in your home?', 'multi dog') }}

            {{ form.boolean('Do you currently have any portion of your
            yard fenced off?', 'fenced-yard') }}

            {{ form.boolean('Bringing a new dog or cat into your home can
            be a big commitment and change to your normal routine. Are you and your family willing to accept these new
            responsibilities and accepting of the changes to your normal routines during this time?',
            'accepting-change') }}

            {{ form.boolean('Are you willing to housebreak a puppy or dog?', 'housebreak') }}

            {{ form.boolean('Do you currently have children living in your home?', 'Children living in home') }}

            {{ form.boolean('Are there children that frequently visit your home?', 'children visit') }}

            {{ form.submit() }}

        </form>
    </div>
</div>