<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ page_description }}">
    <title>FTP Foundation</title>
    <link rel="shortcut icon" href="{{ '/favicon.ico' | url }}">
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | url }}">
    {% if page.url === "/donate/" %}
    <script src=https://zeffy-scripts.s3.ca-central-1.amazonaws.com/embed-form-script.min.js></script>
    {% endif %}
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7T6XRCD0LQ"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-7T6XRCD0LQ');
    </script>
</head>

<body class="container mx-auto my-2">
    {% include "components/header.html" %}
    <main class="grid grid-flow-row sm:grid-cols-3 text-center mt-8 gap-4">
        {{ content | safe }}
        <div class="mx-auto">
            <img src="{{ '/assets/imgs/ftpf_logo.jpg' | url }}" class="" alt="Foundation Logo">
            {% include "components/donate_qr.html" %}
        </div>
    </main>
    {% include "components/footer.html" %}
</body>

</html>