<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ page_description }}">
    <title>FTP Foundation</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | url }}">
</head>

<body class="container mx-auto my-2">
    <header class="grid sm:grid-cols-3 justify-center items-center">
        <div class="sm:col-span-2">
            <h1 class="text-3xl font-semibold">
                For The Puppies Foundation
            </h1>
        </div>
        <nav class="sm:flex mt-2 sm:space-x-8 flex-col sm:flex-row text-center">
            <a href="/"
                class="py-4 px-1 inline-flex items-center gap-2 text-md whitespace-nowrap text-gray-700 hover:text-gray-800 duration-300">Home</a>
            <a href="/mission"
                class="py-4 px-1 inline-flex items-center gap-2 text-md whitespace-nowrap text-gray-700 hover:text-gray-800 duration-300">Mission</a>
            <a href="/guardian"
                class="py-4 px-1 inline-flex items-center gap-2 text-md whitespace-nowrap text-gray-700 hover:text-gray-800 duration-300">Become
                a Guardian</a>
            <a href="/"
                class="py-4 px-1 inline-flex items-center gap-2 text-md whitespace-nowrap text-gray-700 hover:text-gray-800 duration-300">Donate</a>
        </nav>
    </header>
    <main class="grid grid-flow-row sm:grid-cols-3 text-center mt-8 gap-4">
        {{ content | safe }}
        <div class="mx-auto">
            <img src="{{ '/assets/imgs/ftpf_logo.jpg' | url }}" class="" alt="Foundation Logo">
        </div>
    </main>
    <footer
        class="flex w-full flex-row flex-wrap items-center justify-center gap-y-6 gap-x-12 border-t border-blue-gray-50 py-6 text-center md:justify-between">
        <p class="block font-sans text-base font-normal leading-relaxed text-blue-gray-900 antialiased">
            © 2023 For The Puppies Foundation
        </p>
        <ul class="flex flex-wrap items-center gap-y-2 gap-x-8">
            <li>
                <a href="/about"
                    class="block font-sans text-base font-normal leading-relaxed text-blue-gray-900 antialiased transition-colors hover:text-pink-500 focus:text-pink-500">
                    About Us
                </a>
            </li>
            <li>
                <a href="/minutes"
                    class="block font-sans text-base font-normal leading-relaxed text-blue-gray-900 antialiased transition-colors hover:text-pink-500 focus:text-pink-500">
                    Meeting Minutes
                </a>
            </li>
            <li>
                <a href="/vision"
                    class="block font-sans text-base font-normal leading-relaxed text-blue-gray-900 antialiased transition-colors hover:text-pink-500 focus:text-pink-500">
                    Vision
                </a>
            </li>
            <li>
                <a href="/contact"
                    class="block font-sans text-base font-normal leading-relaxed text-blue-gray-900 antialiased transition-colors hover:text-pink-500 focus:text-pink-500">
                    Contact Us
                </a>
            </li>
        </ul>
    </footer>
</body>

</html>