<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ page_description }}">
    <title>FTP Foundation</title>
    <link rel="shortcut icon" href="{{ '/favicon.ico' | url }}">
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | url }}">
    {# {{ page.url | log }} #}
    {% if page.url === "/donate/" %}
    <script src=https://zeffy-scripts.s3.ca-central-1.amazonaws.com/embed-form-script.min.js></script>
    {% endif %}
</head>

<body class="container mx-auto my-2">
    <header class="grid sm:grid-cols-3 justify-center items-center">
        <div class="sm:col-span-2">
            <h1 class="text-3xl font-semibold">
                For The Puppies Foundation
            </h1>
        </div>
        {% include "components/header_nav.html" %}
    </header>
    <main class="grid grid-flow-row sm:grid-cols-3 text-center mt-8 gap-4">
        {{ content | safe }}
        <div class="mx-auto">
            <img src="{{ '/assets/imgs/ftpf_logo.jpg' | url }}" class="" alt="Foundation Logo">
            {% include "components/donate_qr.html" %}
        </div>
    </main>
    <footer
        class="flex w-full flex-row flex-wrap items-center justify-center gap-y-6 gap-x-12 border-t border-blue-gray-50 py-6 text-center md:justify-between">
        <p class="block font-sans text-base font-normal leading-relaxed text-blue-gray-900 antialiased">
            © 2023 For The Puppies Foundation | <span class="font-semibold">EIN: 93-2482326</span>
        </p>
        {% include "components/footer_nav.html" %}
    </footer>
</body>

</html>