{% for mission in missions %}
<div class="relative w-96 rounded-xl bg-white bg-clip-border text-slate-800 shadow-md">
    <div class="p-6">
        <h5
            class="mb-2 block font-sans text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
            {{ mission.header }}
        </h5>
        <p class="block font-sans text-base font-light leading-relaxed text-inherit antialiased">
            {{ mission.content }}
        </p>
    </div>
    <div class="p-6 pt-0">
        <a href={{ mission.url | url }}
            class="select-none rounded-lg bg-blue-500 py-3 px-6 text-center align-middle font-sans text-medium font-medium antialiased uppercase text-amber-50 shadow-md shadow-blue-500/20 transition-all hover:shadow-lg hover:shadow-blue-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
            type="button" data-ripple-light="true">
            Read More
        </a>
    </div>
</div>
{% endfor %}