<div class="relative w-96 rounded-xl bg-white bg-clip-border text-slate-800 shadow-md">
    <div class="p-6">
        <h5
            class="mb-2 block font-sans text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
            Mission Overview
        </h5>
        <p class="block font-sans text-base font-light leading-relaxed text-inherit antialiased">
            To help the existing rescue community through evaluation and training of rescue dogs and cats
            thereby enhancing
            the successful adoption rate. To facilitate low-cost sterilization of unattached dogs and cats.
        </p>
    </div>
    <div class="p-6 pt-0">
        <button
            class="select-none rounded-lg bg-blue-500 py-3 px-6 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md shadow-blue-500/20 transition-all hover:shadow-lg hover:shadow-blue-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
            type="button" data-ripple-light="true">
            Read More
        </button>
    </div>
</div>