<footer class="flex w-full flex-row flex-wrap items-center justify-center gap-y-6 gap-x-12 border-t border-blue-gray-50 py-6 text-center md:justify-between">
    <p class="block font-sans text-base font-normal leading-relaxed text-blue-gray-900 antialiased">
        ©{% currentYear %} For The Puppies Foundation
    </p>
    <p class="font-semibold">EIN: 93-2482326</p>
    <a href="https://www.guidestar.org/profile/shared/6021e4b6-01d7-48c3-916b-0d9c5d36cf51" target="_blank"><img src="https://widgets.guidestar.org/TransparencySeal/10192371" class="shadow-md hover:shadow-sm shadow-orange-300 transition-shadow duration-300 ease-in-out" /></a>
    {% include "components/footer_nav.html" %}
</footer>