<nav class="sm:flex mt-2 sm:space-x-8 flex-col sm:flex-row text-center print:hidden">
    <a href="/"
        class="py-4 px-1 inline-flex items-center gap-2 text-md whitespace-nowrap text-gray-700 hover:text-gray-800 duration-300">Home</a>
    <a href="/mission"
        class="py-4 px-1 inline-flex items-center gap-2 text-md whitespace-nowrap text-gray-700 hover:text-gray-800 duration-300">Mission</a>
    <a href="/guardian"
        class="py-4 px-1 inline-flex items-center gap-2 text-md whitespace-nowrap text-gray-700 hover:text-gray-800 duration-300">Become
        a Guardian</a>
    <a href="/donate"
        class="py-4 px-1 inline-flex items-center gap-2 text-md whitespace-nowrap text-gray-700 hover:text-gray-800 duration-300">Donate</a>
</nav>