---
layout: base_layout.njk
pagination:
  data: dogs.data
  size: 1
  alias: dog
  resolve: values
permalink: "dogs/{{ dog.id }}/"
page_description: Adoption information for {{ dog.attributes.name }}
---

<section class="not-prose">
    <header class="grid grid-rows">
        <div class="bg-orange-100 mx-auto w-fit overflow-hidden rounded-md hover:bg-orange-50 transition-colors ease-in-out duration-300">
            <img src="{{ dog.attributes.pictureThumbnailUrl }} max-w-fit" class="rounded-md shadow-md shadow-zinc-500 hover:shadow-sm transition-shadow ease-in-out duration-500">
            <h2 class="text-center py-2 text-xl font-bold text-gray-900 sm:text-3xl">{{ dog.attributes.name }}</h2>
        </div>
        {% if dog.attributes.isSpecialNeeds %}
        <div class="mt-1 mx-auto">
            <sl-badge variant="primary" pulse>Special Needs</sl-badge>
        </div>
        {% endif %}
    </header>
    <article class="mx-auto mt-4 max-w-xl">
        <p class="text-gray-700 leading-tight">{{ dog.attributes.descriptionText | safe }}</p>
        
    </article>
    <div class="mt-4 flex flex-wrap items-center justify-center gap-4">
        <sl-carousel class="aspect-ratio" autoplay loop navigation pagination style="--aspect-ratio: 1/1;">
            {% currentDog dog.id %}
        </sl-carousel>
        <div class="my-4 mx-auto flex flex-wrap justify-center items-center gap-2">
            {% include 'components/petbucket.html' %}
            {% for id in sponsor_ids %}
                {% if dog.attributes.name === id.name %}
                <givebutter-widget id="{{ id.goal }}"></givebutter-widget>
                <givebutter-widget id="{{ id.button }}"></givebutter-widget>
                {% endif %}
            {% endfor %}
            <a href="/adoption" class="h-12 w-full text-center rounded bg-green-600 px-6 py-2 sm:py-1 font-medium tracking-wide text-white shadow-md transition hover:bg-blue-800 focus:outline-none md:mr-4 md:mb-0 md:w-auto">
                Apply to Adopt {{ dog.attributes.name }}
            </a>
        </div>
    </div>
</section>