---
layout: 'base_layout.njk'
page_description: 'For The Puppies Foundation Donation page'
---
<div class="col-span-2 grid grid-cols-1 justify-start items-start">
    <header>
        <h3 class="font-semibold text-gray-700 text-2xl">Make a Donation</h3>
    </header>
    <article>
        <p>Making a tax-deductible donation to our Foundation, of any amount, will go a long way towards providing
            quality care for the animals in our care and in our Guardian Homes. The widget below is specifically
            for a campaign to get a Spay & Neuter program started for our county and surrounding areas within MS.
        </p>
        <p>
            This program will be for residence of Mississippi and targeting the Northeast portion of the state.
            Our county, Alcorn, does not have a low-cost veterinarian option. Nor does it have a healthy/viable Spay &
            Neuter Program option. And we want to remedy that!
        </p>
        <givebutter-widget id="gGBx7L"></givebutter-widget>
    </article>
    <div class="text-left">
        <article>
            <p class="font-medium mb-4">This donation will help us get this new program started and keep it going!</p>

            <ul>
                <li>You will be required to pay a fee of $50</li>
                <li>All procedures will be performed in a veterinarian clinic closest to your location or your current
                    vet of choice.</li>
                <li>We will handle making the appointment, after speaking with you on your responsibilities related to
                    the program.</li>
                <li>We ask that you be responsible for getting your dog or cat to the safely to and from the
                    appointment.</li>
            </ul>
        </article>
    </div>
</div>