---
layout: base_layout.njk
page_description: 'For The Puppies Foundation Mission Overview'
---

<h2>Mission Overview</h2>
    <p>We have a background in Dog Training through our for-profit company, For The Puppies Training Academy. We got our start in training while fostering for a local dog rescue. Over the course of a year and a half, our family fostered and trained more than one hundred (100) dogs. Given that experience and what we learned from further experiences since then, we decided to form For The Puppies Foundation. We are approaching the pet over-population and pet dumping problem from a completely different angle.</p>

    <h3>Guardian Homes</h3>
    <p>One of the greatest needs in our community currently is rescues need homes that are willing to foster the dogs they currently have.</p>
    <p>There are a lot of reasons for this and we want to make it fun and rewarding to foster a dog or cat. We want to be able to treat our fosters <i>(Guardian Homes)</i> with the uttmost amount of humble respect. We will take care of evaluating each prospective Guardian making sure that each home is safe and ready for each animal they will be fostering. The will go for the rescue dogs being placed. Each dog will be evaluated, before being placed with a home. We will provide food, day care, grooming and training services for free.</p>
    <p>For us, this will be the cornerstone of our foundation.</p>

    <h3>Training</h3>
    <p>Another need that we want to help with is training of the rescue dogs. Once a dog is placed in a Guardian Home, we will provide positive reinforcement group training classes, for free. This helps in the following ways:</p>

    <ul class="">
        <li>The Guardian Home gets to bond with their foster dog in a way that they never could have before</li>
        <li>The dog gets the boost in self-confidence they need to work through and process the traumatic experiences and changes they have endured</li>
        <li>The rescue has a greater chance of adopting the dog sooner</li>
        <li>The adopter gets a well rounded family friendly dog that has hopefully earned their <a href="https://www.akc.org/products-services/training-programs/canine-good-citizen/cgc-ready/">AKC CGC-READY</a> certificate</li>
    </ul>

    <h3>Education</h3>
    <p>Our community needs an animal welfare leader. Our treatment of animals reflects on us all. We feel it is important to bring this message to our youth, since we feel that this is where we can have the greatest long-term impact.</p>
    <p>We will make ourselves available to speak publicly whenever and wherever possible. We are passionate about animals, what we do and what we want to accomplish. There is nothing better than speaking openly about something that you are truely passionate about.</p>
    <hr />
    <p>The vast majority of our community does not understand or even know the difference between a Service Dog and a ESA <i>(Emotional Support Animal)</i>. And many business owners are confused or even worse, misled on the topic of Service Animal Rights. We hope to share our combined knowledge to bring awarness to our community on these topics and many more.</p>
