---
layout: 'base_layout.njk'
page_description: 'Dogs avaliable for adoption through For The Puppies Foudantion, Inc'
---
<div class="grid sm:grid-cols-3 not-prose gap-10">
{%- for dog in dogs['data'] %}
    <section class="grid grid-cols-subgrid justify-center place-items-center hover:cursor-help" #id="card-{{ loop.index }}">
        <h2 class="text-2xl text-center font-medium mt-4">{{ dog.attributes.name }}</span>
        <a href="/dogs/{{ dog.id }}">
            <img src="{{ dog.attributes.pictureThumbnailUrl }}" alt="{{ dog.attributes.name }}" class="mx-auto">
        </a>
        <span class="text-sm font-normal">{{ dog.attributes.breedString }}</span>
    </section>
    {%- endfor %}
</div>