---
layout: 'base_layout.njk'
page_description: 'Dogs avaliable for adoption through For The Puppies Foudantion, Inc'
---
<div class="not-prose grid sm:grid-cols-2 place-content-center gap-4 pb-4">
    {% for dog in dogs['data'] -%}
    <section 
    class="border border-solid border-red-500 shadow-sm shadow-blue-500/50 hover:cursor-help hover:shadow-md" 
    #id="card-{{ loop.index }}">
        <h2 class="text-2xl font-bold text-center">{{ dog.attributes.name }}</span>
        <a href="/dogs/{{ dog.id }}">
            <img src="{{ dog.attributes.pictureThumbnailUrl }}" alt="{{ dog.attributes.name }}" height="80px" class="mx-auto max-h-20">
        </a>
        {% if dog.attributes.isSpecialNeeds %}
        <div class="mt-1">
            <sl-tooltip content="{{ dog.attributes.specialNeedsDetails }}">
                <sl-badge variant="primary" pulse>Special Needs</sl-badge>
            </sl-tooltip>
        </div>
        {% endif %}
        <span class="text-sm font-medium">{{ dog.attributes.breedString }}</span>
    </section>
    {%- endfor %}
</div>